<div class=footer>
  <div class="container bottomBorder">
    <div class="row footerContainer">
      <div item class="col-xs-12 col-md-12 col-lg-4 mb-2">
        <!-- <img
          src="/img/logo.png"
          width={230}
          height={68}
          alt="ABNOUR Software House"
        /> -->
        <img src="assets/white-logo.png" style="max-width: 100%;"/>

        <!-- <span style="color: #FFF; font-weight: 300">
          © ABNOUR 2023
        </span> -->
      </div>

      <div
      class="col-xs-12 col-lg-3"
      style="display: grid; place-content: center; align-content: flex-start; padding-top: 15px;"
    >
    <h3 class="SpecialHeader white">who we are..</h3>
    <p class="about-p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
    <span class="about-span">Follow Us on Social Media :</span>
    <div class="social-container">
      <img src="assets/t.png"/>
      <img src="assets/f.png"/>
      <img src="assets/y.png"/>
      <img src="assets/l.png"/>
    </div>
    </div>


      <div
        class="col-xs-12 col-lg-3"
        style="display: grid; place-content: center; align-content: flex-start; padding-top: 15px;"
      >

        <h3 class="SpecialHeader">Useful Links</h3>
        <ul class="linkslist">
          <a href="/AboutUs">
            <li>About Us</li>
          </a>
          <a href="/Services">
            <li>Services</li>
          </a>
          <a href="/Portfolio">
            <li>Portfolio</li>
          </a>
          <a href="/Blogs">
            <li>Blogs</li>
          </a>
          <a href="/ContactUs">
            <li>Contact Us</li>
          </a>
        </ul>

      </div>

      <div
      class="col-xs-12 col-lg-2"
      style="display: grid; place-content: center; align-content: flex-start; padding-top: 15px;"
    >
    <h3 class="SpecialHeader">Important Links</h3>
    <ul class="linkslist">
        <a href="/AboutUs">
          <li>Privacy Policy</li>
        </a>
        <a href="/Services">
          <li>Terms and Conditions</li>
        </a>
        <a href="/Portfolio">
          <li>Settings</li>
        </a>

      </ul>

    </div>

    </div>
  </div>

  <div class="container" style="display:flex; justify-content: space-between; margin-top: 10px;">
    <span style="color:#FFF;"> All rights Reserved @HelpTK.com </span>
    <span style="color:#FFF;">HelpTK - 2023</span>
  </div>
</div>
