<div class="our-news">
  <div class="container">
    <h2 class="head">Our News</h2>
    <p class="text">Built from an elite author's love and professionalism</p>

    <div class="row cards">
      <div class="card">
        <div class="img-placeholder">
          <img src="assets/image-line.png"/>
        </div>
        <h2>Deployment Of Our New Electronic Gate (Enam Gate)</h2>
        <span>Monday 29 April,2019</span>
        <button class="styledBtn">View Product</button>
      </div>
      <div class="card">
        <div class="img-placeholder">
          <img src="assets/image-line.png"/>
        </div>
        <h2>Deployment Of Our New Electronic Gate (Enam Gate)</h2>
        <span>Monday 29 April,2019</span>
        <button class="styledBtn">Explore Our Projects</button>
      </div>
      <div class="card">
        <div class="img-placeholder">
          <img src="assets/image-line.png"/>
        </div>
        <h2>Deployment Of Our New Electronic Gate (Enam Gate)</h2>
        <span>Monday 29 April,2019</span>
        <button class="styledBtn">Explore Our Projects</button>
      </div>
    </div>
  </div>
</div>
