.our-news {
  background-color: #eaf3fa70;
  padding: 100px 0px;
}

@media (max-width: 765px) {
  .our-news {
    padding: 100px 30px;
  }
}
.head {
  font-weight: 500;
  font-family: "Poppins";
  font-size: 27px;
}

.text {
  width: 300px;
}

.row.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.row.cards .card {
  width: 335px;
  height: 380px;
  border: 1px solid #79939b7a;
  border-radius: 24px;
  padding: 10px 10px;
  flex-grow: 1;
  max-width: 420px;
}

.img-placeholder {
  width: 100%;
  height: 180px;
  background-color: #d9d9d9;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-placeholder img {
  width: 100%;
  object-fit: contain;
}

.card h2 {
  font-weight: 400;
  margin: 10px;
  margin-bottom: 3px;
}

.card span {
  color: #656565;
  font-size: 13px;
  margin: 3px 0px 0px 10px;
}

.styledBtn {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #0e2e5c;
  color: #fff;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 300;
  line-height: 24px;
  border: none;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.styledBtn:hover {
  color: #0e2e5c;
  background-color: #fff;
  border-color: #0e2e5c;
}
