.languages_menu {
  background: transparent;
  border: none;
}

.menuParent {
  align-items: center;
  justify-content: center;
  width: 55px;
  margin-right: 15px;
}

.contactBtn {
  color: #fff;
  background-color: #f39b27;
  border-radius: 22px;
  box-shadow: none;
  width: 145px;
}

nav {
  background: #fff !important;
  box-shadow: 1px 1px 17px #d4d4d4;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.nav-link {
  color: #8696ad;
  transition: 0.2s;
}
.nav-link:hover {
  color: #f39b27;
}
.nav-link.active {
  border-bottom: 3px solid #f39b27;
  font-weight: 600;
  color: #f39b27;
}
.nav-link.active:hover {
  color: #8696ad;
  border-bottom: 3px solid #8696ad;
}

.navbar-nav {
  margin-left: 30px;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}

.bars {
  width: 69px;
  border: none;
  cursor: pointer;
}
