.clients{
  background-color: #EAF3FA;
margin-bottom: 200px;
height: 300px;
}

.carousel-item{
  height: 300px;
}

.carousel-item .row{
  height: 100%;
  display: flex;
  align-items: center;
}
.carousel-item .row .col img{
  border-radius: 21px;
  box-shadow: 1px 6px 8px #EEE;
}

/********************************************/
