<div class="services">
  <div class="container">
    <div class="servicesLeftSide">
      <h2 class="services-heading">{{ "SERVICES" | translate }}</h2>
      <p class="services-subHeading">
        {{ "SERVICESUBTITLE" | translate }}
      </p>
    </div>

    <div></div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="stepperContainer">
          <div
            class="stepperCard"
            *ngFor="let item of steps; let i = index"
            (click)="changeStep($event, i)"
            [class.active]="stepNumber === i"
          >
            <div class="stepperCardImage">
              <img
                src="{{ item.icon }}"
                style="height: 50px; width: 50px"
                alt="item.Image"
              />
            </div>
            <div ngClass="checkLanguage ? stepperCardDataRtl : stepperCardData">
              <p>
                {{ item.serviceName }}
              </p>
              <p>
                {{ item.serviceDescription }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="displayedData">
          <div class="displayedText">
            <p>{{ steps[stepNumber].serviceName }}</p>
            <p>
              {{ steps[stepNumber].imageDescription }}
            </p>
          </div>
          <div class="displayedImg">
            <img
              src="{{ steps[stepNumber].image }}"
              alt=""
              style="width: 300px; height: 300px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
