<div class="landing">
  <div class="container">
    <div class="row landing-row">
      <div class="col-sm-12 col-md-6">
        <h2>Better Ways to create your own <span>business</span></h2>
        <p>
          We hold ourselves to the highest standards. We care about your
          application as much as you do. You can count on us ..
        </p>
        <button (click)="scrollToId('About')" class="landingBtn">
          Learn More
        </button>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="Circle">
          <div class="smallCircle">
            <iframe
              id="video"
              width="560"
              height="315"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
