<div class="homeContainer">
    <div class="homeContent">
        <p class="homeHeader">Better Ways to create your own <span>business</span> </p>
        <p class="homeSubHeader">We hold ourselves to the highest standards. We care about your application as much as
            you do. You can count on us ..</p>
        <button mat-button>Learn More</button>
    </div>
    <div class="homeVideo">
        <div class="circle-one">
            <div class="circle-two">
                <iframe class="video" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>