<div class="contactUs">
  <div class="container">
    <div class="contact-card row">
      <div class="contact-form col-md-8 col-sm-12">
        <div>
          <p class="card-header">{{ "CONTACTUS" | translate }}</p>
          <p class="card-subtitle">{{ "WAITINGFORINQUIRIES" | translate }}</p>
        </div>
        <form class="contact-data" (ngSubmit)="handleRequest()">
          <input
            required="true"
            nz-input
            nzSize="large"
            [placeholder]="'YOURNAME' | translate"
            [(ngModel)]="Name"
          />
          <input
            required="true"
            nz-input
            nzSize="large"
            [placeholder]="'ENTERYOURPHONENUMBER' | translate"
            [(ngModel)]="PhoneNumber"
          />
          <input
            required="true"
            nz-input
            nzSize="large"
            [placeholder]="'ENTERYOUREMAIL' | translate"
            [(ngModel)]="Email"
          />
          <textarea
            [placeholder]="'LEAVEYOURMESSAGE' | translate"
            rows="4"
            nz-input
            [(ngModel)]="Message"
          ></textarea>
          <div class="btn-place">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              nzShape="round"
              type="submit"
            >
              {{ "SENDMESSAGE" | translate }}
            </button>
          </div>
        </form>
      </div>
      <div class="photo-section col-md-4 col-sm-12">
        <p class="heading">{{ "CONTACTINFO" | translate }}</p>
        <p class="subHeading">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
          natus delectus, vel nostrum accusamus, quo atque minus veniam nemo
          consequuntur vitae accusantium harum cupiditate placeat blanditiis ad
          quisquam soluta. Voluptas.
        </p>
        <p class="heading">{{ "ADDRESS" | translate }}</p>
        <p class="subHeading">{{ contactUsInfo.address }}</p>
        <p class="heading">{{ "PHONE" | translate }}</p>
        <p class="subHeading">{{ contactUsInfo.phone }}</p>

        <p class="heading">{{ "EMAIL" | translate }}</p>
        <p class="subHeading">{{ contactUsInfo.email }}</p>
      </div>
    </div>
  </div>
</div>
