<div class="contactUs">
  <div class="container">
    <div class="contact-card row">
      <div class="contact-form col-md-8 col-sm-12">
        <div>
          <p class="card-header">{{ "CONTACTUS" | translate }}</p>
          <p class="card-subtitle">{{ "WAITINGFORINQUIRIES" | translate }}</p>
        </div>
        <form
          [formGroup]="requiredForm"
          class="contact-data"
          (ngSubmit)="handleRequest()"
        >
          <div class="form-group">
            <input
              required
              nz-input
              formControlName="name"
              nzSize="large"
              [placeholder]="'YOURNAME' | translate"
              name="name"
              [(ngModel)]="name"
            />
            <div
              *ngIf="
                requiredForm.controls['name'].invalid &&
                requiredForm.controls['name'].touched
              "
              style="margin-top: 3px; height: min-content"
            >
              <div
                *ngIf="requiredForm.controls['name'].errors.required"
                style="color: red"
              >
                *Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              required
              nz-input
              formControlName="phone"
              nzSize="large"
              placeholder="Enter Your Phone Number"
              name="phone"
              type="number"
              [(ngModel)]="phone"
            />
            <div
              *ngIf="
                requiredForm.controls['phone'].invalid &&
                requiredForm.controls['phone'].touched
              "
              style="margin-top: 3px; height: min-content"
            >
              <div
                *ngIf="requiredForm.controls['phone'].errors.required"
                style="color: red"
              >
                *phone is required. phone should be 11 digits.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              required
              nz-input
              formControlName="email"
              nzSize="large"
              placeholder="Enter Your Email"
              name="email"
              [(ngModel)]="email"
            />
            <div
              *ngIf="
                requiredForm.controls['email'].invalid &&
                requiredForm.controls['email'].touched
              "
              style="margin-top: 3px; height: min-content"
            >
              <div
                *ngIf="requiredForm.controls['email'].errors.required"
                style="color: red"
              >
                *email is required. email should contain @
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea
              required
              [placeholder]="'LEAVEYOURMESSAGE' | translate"
              rows="4"
              formControlName="message"
              nz-input
              name="message"
              [(ngModel)]="message"
            ></textarea>
            <div
              *ngIf="
                requiredForm.controls['message'].invalid &&
                requiredForm.controls['message'].touched
              "
              style="margin-top: 3px; height: min-content"
            >
              <div
                *ngIf="requiredForm.controls['message'].errors.required"
                style="color: red"
              >
                *Message is required.
              </div>
            </div>
          </div>
          <div class="btn-place">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              nzShape="round"
              type="submit"
            >
              {{ "SENDMESSAGE" | translate }}
            </button>
          </div>
        </form>
      </div>
      <div class="photo-section col-md-4 col-sm-12">
        <p class="heading">{{ "CONTACTINFO" | translate }}</p>
        <p class="subHeading">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
          natus delectus, vel nostrum accusamus, quo atque minus veniam nemo
          consequuntur vitae accusantium harum cupiditate placeat blanditiis ad
          quisquam soluta. Voluptas.
        </p>
        <p class="heading">{{ "ADDRESS" | translate }}</p>
        <p class="subHeading">{{ contactUsInfo.address }}</p>
        <p class="heading">{{ "PHONE" | translate }}</p>
        <p class="subHeading">{{ contactUsInfo.phone }}</p>

        <p class="heading">{{ "EMAIL" | translate }}</p>
        <p class="subHeading">{{ contactUsInfo.email }}</p>
      </div>
    </div>
  </div>
</div>
