.landing {
  background-color: #eaf3fa;
  padding-top: 10%;
}

.landing-row {
  min-height: calc(100vh - 96px);
  /* border: 1px solid red; */
}

.landing-row > div:first-of-type {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.landing-row > div:first-of-type h2 {
  font-size: 51px;
  font-weight: 700;
  line-height: 1.2;
}
.landing-row > div:first-of-type h2 span {
  color: #f39b27;
}

.landing-row > div:first-of-type p {
  font-size: 20px;
  color: #656565;
  font-weight: 300;
}

.landingBtn {
  border: none;
  background: #0e2e5c;
  color: #fff;
  padding: 11px 65px;
  border-radius: 15px;
}

.landing-row > div:first-of-type.flow-imgs {
  position: relative;
  justify-content: flex-start;
}
.landing-row > div:first-of-type.flow-imgs img:first-of-type {
  height: 380px;
  border-radius: 12px;
  width: 333px;
  object-fit: cover;
}
.landing-row > div:first-of-type.flow-imgs img:nth-of-type(2) {
  height: 380px;
  border-radius: 12px;
  width: 333px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 17px #cecece;
}

.landing-row > div:nth-of-type(2).about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.landing-row > div:nth-of-type(2).about-text h2 {
  color: #000;
  font-weight: 600;
  font-size: 30px;
}
.landing-row > div:nth-of-type(2).about-text h2 span {
  color: #f39b27;
}
.landing-row > div:nth-of-type(2).about-text ul.about-text {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #656565;
  font-size: 17px;
}

.About2 {
  height: 800px;
    background-color: #eaf3fa;
}

@media (max-width: 768px) {
  .About2 {
    padding-top: 50px;
  }
}

.About2 h2 {
  color: #000;
  font-weight: 700;
  font-size: 25px;
}

.About2 .About-Circle {
  background-color: #0e2e5c;
  display: flex;
  height: 390px;
  align-items: center;
  width: 390px;
  border-radius: 50%;
  color: #fff;
  justify-content: center;
  font-size: 30px;
}

.About2 .about-circle-parent {
  position: relative;
  /* border: 1px solid #000; */
  width: fit-content;
  width: -moz-fit-content; /* Firefox 3+, Firefox for Android 4+ */
  width: -webkit-fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .about-element {
  position: relative !important;
}

/* //large circle */ .about-element::before{
  content: "";
  height: 60px;
  width: 300px;
  left: -100px;
  top: 0;
  background-color: #F6C98F;
  position: absolute;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #0E2E5C;
  font-size: 21px;

}
  /* //small circle */
 .about-element::after{
  content: "";
  height: 60px;
  width: 60px;
  left: -100px;
  top: 0;
  background-color: #FD9C26;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
}

 .about-element.one::after{
  content: "1"
}
 .about-element.two::after{
  content: "2"
}
 .about-element.three::after{
  content: "3"
}

 .about-element.one::before{
  content:"Our Mission"
}
 .about-element.two::before{
  content:"Our Vision"
}
 .about-element.three::before{
  content:"Our Goals"
}



 .about-element.one {
  position: absolute;
  top: 0px;
  position: absolute;
  top: -100px;
    right: -50px;
}
 .about-element.two {
  position: absolute;
  right: -35%;
  top: 50%;
  transform: translateY(-50%);
}
 .about-element.three {
  position: absolute;
  top: 110%;
  right: -50px;
}

 .about-element {
  position: relative;
}

/*  .about-element::after {
  position: absolute;
  left: 120%;
  color: black;
  width: 410px;
  height: 0px;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  top: -50px;
  content: "";
} */

.about-element div {
  position: absolute;
  left: -100px;
  padding: 10px;
  color: #000;
  border-radius: 10px;
  transition: 0.3s ease;
  transform: translateY(0);
  visibility: visible;
  width: auto;
  margin-top: 56px;
  max-width: 500px;
}

/* .About2 .about-circle-parent .about-element:hover::after {
  content: "We hold ourselves to the highest standards. We care about your application as much as you do. You can count on us ..";
  top: 50%;
  transform: translateY(-50%);
} */

.Application_Releases {
  position: relative;
}

.Application_Releases .container {
  height: 100%;
}
.Application_Releases .container .row:first-of-type {
  height: 100%;
}

.Application_Releases .container .row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.Application_Releases img.app {
  width: auto;
}
.Application_Releases {
  height: 380px;
  background-color: #eaf3fa;
}

@media (max-width: 768px) {
  .Application_Releases {
    padding-top: 50px;
  }
}

.Application_Releases .imgs-parent {
  display: flex;
  gap: 10px;
}
.Application_Releases .Applications_header {
  color: #272727;
  font-weight: 500;
  font-size: 27px;
}

.Application_Releases .mobile-draw {
  background: #8696ad;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Application_Releases .mobile-draw img {
  max-width: 100%;
  height: 470px;
  margin-top: -100px;
}
