<div class="landing">
  <div class="container">
    <div class="row landing-row">
      <div class="col-sm-12 col-md-6 flow-imgs">
        <img src="assets/dummy2.jpg" alt="" />
        <img src="assets/dummy2.jpg" alt="" />
      </div>
      <div class="col-sm-12 col-md-6 about-text">
        <h2>HELP<span>TK</span></h2>
        <ul class="about-points">
          <li>
            IT assistance is a leader in the world of communications, IT
            solutions, electronic protection technologies and innovative
            solutions.
          </li>
          <li>
            We offer innovative solutions and specialized support and are
            committed to providing services and solutions that can provide
            technology solutions (From start to finish) as well as consulting
            solutions when required.
          </li>
        </ul>
        <button class="landingBtn">Explore Our Projects</button>
      </div>
    </div>
  </div>
</div>

<div class="About2">
  <div class="container">
    <div class="row">
      <h2 class="about-header">About HelpTK</h2>
      <div class="about-circle-parent">
        <div class="About-Circle">who we are..</div>

        <div class="about-element one">1

          <div class="externalText">
            We hold ourselves to the highest standards. We care about your application as much as you do. You can count on us ..
          </div>
        </div>
        <div class="about-element two">2
                   <div class="externalText">
            We hold ourselves to the highest standards. We care about your application as much as you do. You can count on us ..
          </div>
        </div>
        <div class="about-element three">3
                   <div class="externalText">
            We hold ourselves to the highest standards. We care about your application as much as you do. You can count on us ..
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Application_Releases">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h2 class="Applications_header">New Release</h2>
        <p>
          Now, you have the option to download our mobile application and order
          your service on the go, with unlimited features and offers.
        </p>
        <div class="imgs-parent">
          <img class="app" src="assets/g-play.png" alt="google_play_Img" />
          <img class="app" src="assets/apple-store.png" alt="app_store_Img" />
        </div>
      </div>
      <div class="col-sm-12 col-md-5 mobile-draw">
        <img src="assets/mob.png" alt="" />
      </div>
    </div>
  </div>
</div>
