<div class="landing" id="About">
  <div class="container">
    <div class="row landing-row">
      <div class="col-sm-12 col-md-6 flow-imgs">
        <img src="{{ aboutUs_images.secondImage }}" alt="" />
        <img src="{{ aboutUs_images.firstImage }}" alt="" />
      </div>
      <div class="col-sm-12 col-md-6 about-text">
        <h2>HELP<span>TK</span></h2>
        <ul class="about-points">
          <li>
            {{ aboutUs_description[0].description }}
          </li>
          <li>
            {{ aboutUs_description[1].description }}
          </li>
        </ul>
        <button class="landingBtn">Explore Our Projects</button>
      </div>
    </div>
  </div>
</div>

<div class="About2">
  <div class="container">
    <div class="row">
      <div
        class="col-sm-12 col-md-6 row-gap-2 p-3 d-flex justify-content-center"
      >
        <div class="circle">Who We Are..</div>
      </div>
      <div class="col-sm-12 col-md-6 row-gap-2 p-3 boxes-col">
        <div
          class="parent_box"
          *ngFor="let box of whoWeAre; let indexOfelement = index"
        >
          <div class="box">
            <div class="leftS">{{ indexOfelement + 1 }}</div>
            <div class="rightS">{{ box?.title }}</div>
          </div>
          <div class="text">{{ box?.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Application_Releases">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h2 class="Applications_header">New Release</h2>
        <p>
          Now, you have the option to download our mobile application and order
          your service on the go, with unlimited features and offers.
        </p>
        <div class="imgs-parent">
          <img class="app" src="assets/g-play.png" alt="google_play_Img" />
          <img class="app" src="assets/apple-store.png" alt="app_store_Img" />
        </div>
      </div>
      <div class="col-sm-12 col-md-5 mobile-draw">
        <img src="assets/mob.png" alt="" />
      </div>
    </div>
  </div>
</div>
