.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  background-color: #EAF3FA;
}

.photoContainer {
  position: relative;
  margin-left: 150px;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 465px;
  height: 556px;
  border-radius: 32px;
}

.photoFront {
  z-index: 2;
  top: 200px;
  left: 250px;
}

.photoBack {
  z-index: 1;
}

.aboutContent {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 35%;

}

.aboutContent h1 {
  color: #272727;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}

.aboutContent p {
  color: var(--neutral-nutral-tint-1, #656565);
  font-size: 20px;
  font-family: Poppins;
  line-height: 32px;
  padding-bottom:20px;
}

.aboutContent button { 
  margin-top: 20px;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  background-color: #0E2E5C;
  color: #FFF;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
