<div class="container">
    <div class="photoContainer">
        <img src="assets/test.jpg" alt="About Us" class="photo photoFront">
        <img src="assets/test.jpg" alt="About Us" class="photo photoBack">
    </div>
    <div class="aboutContent">
        <h1>HELP<span style="color: #F39B27;">TK</span></h1>
        <ul>
            <li>
                <p>IT assistance is a leader in the world of communications, IT solutions, electronic protection
                    technologies
                    and innovative solutions.</p>
            </li>
            <li>
                <p>We offer innovative solutions and specialized support and are committed to providing services and
                    solutions that can
                    provide technology solutions (From start to finish) as well as consulting solutions when required.
                </p>
            </li>
        </ul>
        <button mat-button>Explore Our Projects</button>
    </div>
</div>